services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    ports:
      - "81:80"
    volumes:
      - ./:/var/www/html
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped